# Archivos y carpetas comunes a ignorar en Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
ENV/
env/
env.bak/

# Herramientas y artefactos
.dist/
build/
dist/
.eggs/
*.egg-info

# IDEs/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Variables de entorno locales
.env
.env.*.local
.env.local
